@media screen and (max-width:1490px) {

    .np2 {
        font-size: 50px;
    }

    .np3 {
        font-size: 50px;
    }
}

@media screen and (max-width:1260px) {

    .np2 {
        font-size: 45px;
    }

    .np3 {
        font-size: 45px;
    }

    .profile-img {
        height: 500px;
        width: 500px;
    }

    .navigation {
        left: 27%;
    }
}

@media screen and (max-width:1150px) {

    .np2 {
        font-size: 40px;
    }

    .np3 {
        font-size: 40px;
        margin-top: -20px;
    }

    .navigation {
        left: 23%;
    }

}

@media screen and (max-width:992px) {

    .np2 {
        font-size: 50px;
    }

    .np3 {
        font-size: 50px;
        /* margin-top: -20px; */
    }

    .header-img {
        display: none;
    }

    .hire-btn p {
        display: flex;
    }

}

@media screen and (max-width:768px) {

    .navigation {
        left: 11%;
    }

}

@media screen and (max-width:900px) {

    .tool-section-img {
        height: 100%;
    }

}

@media screen and (max-width:576px) {

    .np3 {
        font-size: 40px;
    }

}

@media screen and (max-width:700px) {

    .navigation {
        display: none;
    }

}

@media screen and (max-width:550px) {

    .np2 {
        font-size: 28px;
    }

    .np3 {
        font-size: 28px;
        margin-top: -10px;
    }

}

@media screen and (max-width:550px) {

    .np3 {
        font-size: 25px;
        margin-top: -8px;
    }

}