@media screen and (max-width:768px) {

    .navigation {
        display: none;
    }

    .portfolio-sections {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width:992px) {

    .banner-img{
        width: 650px;
        height: 650px;
    }
    .banner-section{
        padding-top: 50px;
    }
}
@media screen and (max-width:768px) {

    .banner-img{
        width: 550px;
        height: 550px;
    }
}
@media screen and (max-width:576px) {

    .banner-img{
        width: 450px;
        height: 450px;
    }
}