@media screen and (max-width:768px) {

    .navigation {
        display: none;
    }

    .portfolio-sections {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width:992px) {

    .banner-img{
        width: 650px;
        height: 650px;
    }
    .banner-section{
        padding-top: 50px;
    }
}
@media screen and (max-width:768px) {

    .banner-img{
        width: 550px;
        height: 550px;
    }
}
@media screen and (max-width:576px) {

    .banner-img{
        width: 450px;
        height: 450px;
    }

    .portfolio-sections{
        gap: 10px;
        flex-direction: column;
    }

    .banner-nav{
        display: none;
    }
    
    .ab-section-contents p{
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
@media screen and (max-width:470px) {

    .banner-contents h1{
        font-weight: 600;
        font-size: 65px;
    }

    .banner-img{
        width: 300px;
        height: 300px;
    }

    .ab-section-contents p{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
@media screen and (max-width:380px) {

    .banner-contents h1{
        font-weight: 500;
        font-size: 50px;
    }

    .ab-section-contents p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}