* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
}






#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 11px;
  background-color: rgb(0, 0, 0);
  border: 4px solid rgba(239, 78, 67, 0);
  border-radius: 50%;
  transition: 0.5s;
}
.btimg{
    width: 35px;
    height: 35px;
}
#scrollTopBtn:hover{
    transform: scale(0.8);
    border: 4px solid rgb(239, 79, 67);
}
.side-connection{
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.sc-para{
    font-size: 60px;
    font-weight: 500;
    color: black;
}
.email-sn {
    /* background-color: #f26221; */
    /* width: max-content; */
    /* border-radius: 50px; */
    /* padding: 13px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 21px;
    transition: 0.5s;
}
.email-sn p{
    background-color: rgb(255, 178, 97, 100%);
    color: black;
    padding: 4px 12px 4px 12px;
    border-radius: 50px;
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.email-sn:hover p{
    /* transform: scale(0.9); */
    visibility: visible;
    opacity: 1;
}
.email-sn-img{
    width: 65px;
    height: 65px;
    border-radius: 50px;
}










.navigation{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 90%);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.nav-hasc {
    align-content: center;
    width: 100%;
    height: 100%;
}

.nav-hasc ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin: 0px;
    text-align: center;
}

.nav-hasc li {
    list-style: none;
    color: rgb(255, 178, 97, 100%);
    font-size: 19px;
    font-weight: 500;
    background-color: rgba(73, 73, 73, 0);
    padding: 4px 12px 4px 12px;
    border-radius: 50px;
    transition: 0.3s;
}
.nav-hasc li:hover {
    background-color: rgb(73, 73, 73, 100%);
}

.nav-link {
    text-decoration: none;
}
.nav-hire-button{
    background-color: rgb(239, 79, 67);
    padding: 4px 12px 4px 12px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}


.banner-section {
    width: 100%;
    /* min-height: 100vh; */
    /* max-height: max-content; */
    height: 100%;
    background-color: black;
    align-content: center;
    position: relative;
    z-index: 101;
}

.banner-nav {
    width: 50px;
    height: 100%;
    border-right: 2px solid grey;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bnav-menu-button1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 10px;
}

.menuline {
    width: 35px;
    height: 5px;
    background-color: white;
    border-radius: 50px;
}

.menuline1 {
    width: 25px;
}

.bnav-menu-button2 {
    padding: 10px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid grey;
}

.bmb-img{
    margin-left: -7px;
    border: 4px solid rgba(239, 78, 67, 0);
    border-radius: 50px;
    transition: 0.3s;
}
.bmb-img:hover{
    border: 4px solid rgb(239, 79, 67);
}
.bnav-menu-button2 p {
    margin: 0px;
}

.bnav-menu-button3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* color: rgb(239, 79, 67); */
    border-bottom: 2px solid grey;
    height: 100px;
    align-content: center;
}
.bnav-menu-button3 a{
    text-decoration: none;
    color: rgb(239, 79, 67);
    transition: 0.2s;
}
.bnav-menu-button3 a:hover {
    color: rgb(255, 178, 97);
}

.bnav-menu-button3 p {
    margin: 0px 0px 0px -19px;
    transform: rotateZ(-90deg);
    width: 84px;
}

/* .bnav-s2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(239, 79, 67);
    border-bottom: 2px solid grey;
    height: 100px;
    align-content: center;
}

.para {
    margin: 0px 0px 0px -19px;
    transform: rotateZ(-90deg);
    width: 84px;
} */

.banner-contents {
    width: 100%;
    height: 100%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-contents h2 {
    color: rgb(255, 178, 97);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -7px;
}

.banner-contents h1 {
    color: rgb(239, 79, 67);
    font-weight: 700;
    font-size: 80px;
}

.banner-contents a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.banner-cv-button {
    background-color: rgb(255, 197, 137);
    border-radius: 8px;
    padding: 4px 8px;
    transition: 0.3s;
}
.banner-cv-button:hover {
    background-color: rgb(255, 178, 95);
}

.banner-img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* right: 0px; */
    /* bottom: 0px; */
}

.banimg {
    width: 100%;
    height: 100%;
}

.about-section {
    width: 100%;
    height: max-content;
    background-color: rgb(255 197 137);
    /* background-color: rgb(239, 79, 67); */
    /* padding: 70px 0px 70px 0px; */
    /* margin-bottom: 65px; */
}

.ab-section-contents {
    margin-top: 50px;
}

.ab-section-contents h3 {
    font-size: 65px;
    font-family: "Italiana", sans-serif;
    font-weight: lighter;
    color: black;
}

.p-bracket {
    font-weight: bold;
    font-size: 35px;
}

.ab-section-contents p {
    font-size: 35px;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    color: black;
    padding: 30px 0px 25px 85px;
}

.ab-sec-base-button {
    /* color: black; */
    padding: 3px 8px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid black;
    width: max-content;
    height: max-content;
    transition: 0.5s;
}
.ab-sec-base-button a{
    text-decoration: none;
    color: black;
}

.ab-sec-base-button:hover {
    background-color: rgb(145, 50, 50);
    color: rgb(255 197 137);
}

.connection {
    margin-top: 60px;
    border-top: 3px dashed rgb(101, 101, 101);
}

.connection-para {
    height: 100%;
    width: 100%;
    padding: 15px 0px 0px 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.connection-sites {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 15px 0px 0px 0px;
    border-left: 3px dashed rgb(101, 101, 101);
}
.cs1{
    padding: 0px;
}
/* .pc-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
} */





/* .projects {
    background-color: rgb(243, 243, 243);
    padding-top: 50px;
}

.projects-para {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 190px;
    right: 146px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.projects-content:hover .projects-para {
    visibility: visible;
    opacity: 1;
}

.projects-content-bg {
    background-color: rgb(0 0 0 / 75%);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.projects-content:hover .projects-content-bg {
    visibility: visible;
    opacity: 1;
}

.projects-para p {
    margin: 0px;
}

.projects-bg {
    background-color: rgb(226, 226, 226);
    border: 2px solid rgb(126, 126, 126);
    padding: 8px;
    border-radius: 15px;
}

.projects-content {
    position: relative;
    background-image: url(/portfolio-img/desktop1.svg);
    border-radius: 18px;
    height: 420px;
    width: 100%;
    object-fit: cover;
}
.pc2{
    background-image: url(/portfolio-img/desktop2.svg);
}
.pc3{
    background-image: url(/portfolio-img/mobile.svg);
}
.pc4{
    background-image: url(/portfolio-img/desktop3.svg);
}
.pc5{
    background-image: url(/portfolio-img/desktop4.svg);
}
.pc6{
    background-image: url(/portfolio-img/watch.svg);
} */







.works{
    background-color: rgb(243, 243, 243);
    padding-top: 65px;
}
.work-heading h1{
    font-size: 70px;
    font-weight: 500;
    color: black;
    margin-bottom: 40px;
    font-family: "Italiana", sans-serif;
}
.work-heading{
    position: relative;
}
.work-subheading h3{
    font-size: 17px;
    font-weight: 600;
    color: black;
    font-family: "Italiana", sans-serif;
}
.work-subheading{
    position: absolute;
    bottom: -17px;
    left: 19px;
}
.work-section-box{
    border: 2px solid #c4c4c4;
    border-radius: 17px;
    width: 100%;
    /* height: 100%; */
}
.works-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.works-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}

.works-box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.works-content {
    background-color: rgb(0 0 0 / 75%);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 27px;
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.works-box:hover .works-content {
    visibility: visible;
    opacity: 1;
}

.works-content p {
    margin: 0;
}
.work-box-details{
    /* background-color: rgb(239, 79, 67); */
    border: 2px solid rgb(239, 79, 67);
    padding: 5px 8px;
    width: max-content;
    border-radius: 7px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 15px;
    transition: 0.4s;
}
.work-box-details:hover{
    background-color: rgb(239, 79, 67);
}
.work-box-details a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}




.your-class {
    position: relative;
    margin-top: 100px;
}



.slide-b0x11 {
    /* position: relative; */
    /* border: 4px solid rgb(239, 79, 67); */
    padding: 12px 0px;
}




.contentpara{
    border: 4px solid rgb(239, 79, 67);
    padding: 45px 25px;
    border-radius: 15px;
    transition: 0.4s;
    width: 100%;
    height: 250px;
}
.contentpara:hover {
    background-color: rgba(239, 78, 67, 0.901);
    color: black;
}
.contentpara:hover h4 {
    color: white;
}
.contentpara h4{
    font-size: 25px;
    font-weight: 400;
    color: rgb(239, 79, 67);
    font-family: "Koulen", sans-serif;
    transition: 0.4s;
}
.contentpara p{
    font-size: 19px;
    /* font-weight: lighter; */
    color: rgb(0, 0, 0);
    /* font-family: "Koulen", sans-serif; */
}
.chevron-prev{
    width: 60px;
    height: 60px;
}
.prev-d {
    /* background-color: rgb(0 0 0 / 64%); */
    /* padding: 10px 15px; */
    border: 5px;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    bottom: -30%;
    left: 560px;
}

.next-d {
    /* background-color: rgb(0 0 0 / 64%); */
    /* padding: 10px 15px; */
    border: 5px;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    bottom: -30%;
    right: 560px;
}

.tools-section{
    background-color: rgb(243, 243, 243);
    background-image: url(/portfolio-img/grid.svg);
    /* object-fit: cover; */
    object-fit: fill;
    background-repeat: no-repeat;
    height: max-content;
    width: 100%;
    margin-top: 150px;
    padding-bottom: 50px;
}

.tools-head{
    position: relative;
    margin-bottom: 100px;
}
.tools-subhead{
    position: absolute;
    left: 25px;
    bottom: -8px;
}
.tools-head h2{
    font-family: "Italiana", sans-serif;
    font-size: 120px;
    font-weight: 400;
}
.tools-head h4{
    font-family: "Italiana", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.tools-img-box{
    width: 100%;
    height: 100%;
    align-items: center;
}
.toolimg{
    width: 120px;
    height: 120px;
    transition: 0.3s;
}
.tools-img-box:hover .toolimg{
    transform: scale(1.2);
}
.footer-section{
    background-color: black;
    padding: 70px 0px 70px 0px;
}
.footer-head h3{
    margin: 0px;
    color: rgb(255, 178, 97, 100%);
    font-weight: 400;
}
.footer-head h2{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}
.footer-connection{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    gap: 12px;
}
.fc-links{
    border: 4px solid rgba(239, 78, 67, 0);
    border-radius: 50px;
    transition: 0.3s;
}
.fc-links:hover{
    border: 4px solid rgb(239, 79, 67);
}
.portfolio-sections{
    background-color: rgb(255, 255, 255,8%);
    border-radius: 10px;
    width: max-content;
    padding: 20px 60px 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.portfolio-sections a{
    text-decoration: none;
}
.ps-head{
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    padding: 7px 10px 7px 10px;
    transition: 0.3s;
}
.ps-head:hover {
    background-color: rgb(73, 73, 73, 100%);
}
.ps-head h2{
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    color: rgb(255, 178, 97, 100%);
}