* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}






.navigation {
    width: max-content;
    height: 60px;
    padding: 4px 10px 4px 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 25%);
    border: 1px solid gray;
    position: fixed;
    bottom: 20px;
    left: 32%;
    z-index: 100;
}

.nav-hasc {
    align-content: center;
    width: 100%;
    height: 100%;
}

.nav-hasc ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.nav-hasc li {
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 700;
    background-color: rgba(110, 116, 149, 0);
    padding: 4px 12px 4px 12px;
    border-radius: 50px;
    transition: 0.3s;
}

.nav-hasc li:hover {
    background-color: rgb(110, 116, 149, 100%);
}

.nav-link {
    text-decoration: none;
}

.hire-button p {
    color: rgb(0, 0, 0);
    background-color: red;
    padding: 4px 12px 4px 12px;
    width: max-content;
    height: max-content;
    border-radius: 50px;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.3s;
}

.hire-button p:hover {
    background-color: rgba(255, 0, 0, 0.696);
}

.hire-btn p {
    color: rgb(0, 0, 0);
    background-color: rgb(120, 138, 255);
    padding: 4px 12px 4px 12px;
    width: 100%;
    height: max-content;
    border-radius: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
    display: none;
}

.hire-btn p:hover {
    background-color: rgba(120, 138, 255, 0.766);
}

.job-name {
    width: 100%;
    height: 100%;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 11px;
    background-color: rgb(0, 0, 0);
    border: 4px solid rgba(239, 78, 67, 0);
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1000;
}

.btimg {
    width: 35px;
    height: 35px;
}

#scrollTopBtn:hover {
    transform: scale(0.8);
    border: 4px solid rgb(120, 138, 255);
}

.side-connection {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.sc-para {
    font-size: 60px;
    font-weight: 500;
    color: black;
}
.email-sn {
    /* background-color: #f26221; */
    /* width: max-content; */
    /* border-radius: 50px; */
    /* padding: 13px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 21px;
    transition: 0.5s;
}
.email-sn p{
    background-color: rgb(120, 138, 255);
    color: black;
    padding: 4px 12px 4px 12px;
    border-radius: 50px;
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.email-sn:hover p{
    /* transform: scale(0.9); */
    visibility: visible;
    opacity: 1;
}
.email-sn-img{
    width: 65px;
    height: 65px;
    border-radius: 50px;
}




.header-section {
    background-image: url(/mhdp-img/head-bg.svg);
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.header-contents {
    width: 100%;
    height: 100%;
    /* text-align: center; */
}

.name {
    width: 100%;
    height: 100%;
}

.np1 {
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin: 0px;
}

.np2 {
    font-size: 60px;
    font-weight: bolder;
    margin: 0px;
    color: rgb(120, 138, 255);
}

.np3 {
    font-size: 60px;
    font-weight: bolder;
    margin-top: -25px;
    color: rgb(120, 138, 255);
}

.job-name {
    width: 100%;
    height: 150px;
}

.header-img {
    width: 100%;
    height: 100%;
}

.headerimg {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.profile-img {
    height: 600px;
    width: 600px;
    /* width: 100%; */
    /* height: 100%; */
}

.about-section {
    width: 100%;
    height: max-content;
    background-color: rgb(224, 229, 235);
    padding: 70px 0px 70px 0px;
}

.about {
    height: 100%;
    width: 100%;
}

.about-contents {
    width: 100%;
    height: 100%;
}

.about-contents h2 {
    font-size: 40px;
    font-weight: 800;
    color: rgb(0, 22, 73);
    margin-bottom: 20px;
}

.about-contents p {
    font-size: 24px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-indent: 60px;
}

.work-section {
    width: 100%;
    height: max-content;
    padding: 70px 0px 70px 0px;
}

.work {
    width: 100%;
    height: 100%;
}

.work h2 {
    font-size: 40px;
    font-weight: 800;
    color: rgb(0, 22, 73);
    margin-bottom: 30px;
}

.workbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-img {
    width: 100%;
    height: 100%;
}

.workimg {
    width: 100%;
    height: 100%;
}

.work-img-details-btn {
    width: 100%;
    height: max-content;
    background-color: rgb(0, 22, 73);
    border: 2px solid rgba(0, 22, 73, 0);
    padding: 4px 0px 4px 0px;
    text-align: center;
    border-radius: 7px;
    transition: 0.3s;
}

.work-img-details-btn:hover {
    background-color: rgba(0, 22, 73, 0);
    border: 2px solid rgb(0, 22, 73);
}

.work-img-details-btn:hover p {
    color: black;
}

.work-img-details-btn p {
    color: rgb(255, 255, 255);
    margin: 0px;
    font-weight: 700;
    transition: 0.3s;
}

.work-img-details-btn a {
    text-decoration: none;
}

.skill-section {
    background-image: url(/mhdp-img/skills-bg.svg);
    object-fit: cover;
    background-attachment: fixed;
    width: 100%;
    height: 170px;
}

.skill-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tool-section {
    width: 100%;
    height: 100%;
}

.tool-section-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.footer-section {
    background-color: rgb(16, 16, 16);
    /* background-image: url(/mhdp-img/footer-bg.svg); */
    /* object-fit: cover; */
    /* background-repeat: no-repeat; */
    /* object-position: center; */
    padding: 70px 0px 70px 0px;
    width: 100%;
    z-index: 101;
    position: relative;
    align-content: center;
}

.footer-head h3 {
    margin: 0px;
    color: rgb(120, 138, 255, 100%);
    font-weight: 400;
}

.footer-head h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.footer-connection {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    gap: 12px;
}

.fc-links {
    border: 4px solid rgba(120, 138, 255, 0);
    border-radius: 50px;
    transition: 0.3s;
}

.fc-links:hover {
    border: 4px solid rgb(120, 138, 255);
}

.portfolio-sections {
    background-color: rgb(255, 255, 255, 8%);
    border-radius: 10px;
    width: max-content;
    padding: 20px 60px 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.portfolio-sections a {
    text-decoration: none;
}

.ps-head {
    text-align: center;
    background-color: rgba(120, 138, 255, 0);
    border-radius: 50px;
    padding: 7px 10px 7px 10px;
    transition: 0.3s;
}

.ps-head:hover {
    background-color: rgba(120, 138, 255, 0.747);
}

.ps-head h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    color: rgb(225 225 225);
}